/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/d/a3025adbfba56ebbb10e51b81df7cd8f8f12de1ed6202314790cd7e6d91c1d41.d
/cmake-build-debug/CMakeFiles/qtTest_autogen.dir/AutogenInfo.json
/cmake-build-debug/CMakeFiles/qtTest_autogen.dir/AutogenUsed.txt
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-b5ac559a88625395805f.json
/cmake-build-debug/CMakeFiles/clean_additional.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-62beeea70d59835f29d2.json
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e5ab6ac3906c2a3fa273.json
/cmake-build-debug/D3Dcompiler_47.dll
/cmake-build-debug/qtTest_autogen/deps
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/.idea/editor.xml
/cmake-build-debug/.cmake/api/v1/reply/index-2024-06-13T11-32-34-0164.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/libgcc_s_seh-1.dll
/cmake-build-debug/libstdc++-6.dll
/cmake-build-debug/libwinpthread-1.dll
/cmake-build-debug/CMakeFiles/qtTest.dir/src/main.cpp.obj
/cmake-build-debug/CMakeFiles/qtTest.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/qtTest.dir/src/mainwindow.cpp.obj
/.idea/misc.xml
/cmake-build-debug/qtTest_autogen/6YEA5652QU/moc_mainwindow.cpp
/cmake-build-debug/qtTest_autogen/6YEA5652QU/moc_mainwindow.cpp.d
/cmake-build-debug/qtTest_autogen/moc_predefs.h
/cmake-build-debug/qtTest_autogen/mocs_compilation.cpp
/cmake-build-debug/CMakeFiles/qtTest.dir/qtTest_autogen/mocs_compilation.cpp.obj
/.idea/modules.xml
/cmake-build-debug/opengl32sw.dll
/cmake-build-debug/CMakeFiles/qtTest_autogen.dir/ParseCache.txt
/cmake-build-debug/tls/qcertonlybackend.dll
/cmake-build-debug/imageformats/qgif.dll
/cmake-build-debug/imageformats/qico.dll
/cmake-build-debug/imageformats/qjpeg.dll
/cmake-build-debug/styles/qmodernwindowsstyle.dll
/cmake-build-debug/networkinformation/qnetworklistmanager.dll
/cmake-build-debug/tls/qopensslbackend.dll
/cmake-build-debug/tls/qschannelbackend.dll
/cmake-build-debug/imageformats/qsvg.dll
/cmake-build-debug/iconengines/qsvgicon.dll
/cmake-build-debug/Qt6Core.dll
/cmake-build-debug/Qt6Gui.dll
/cmake-build-debug/Qt6Network.dll
/cmake-build-debug/Qt6Svg.dll
/cmake-build-debug/Qt6Widgets.dll
/cmake-build-debug/translations/qt_ar.qm
/cmake-build-debug/translations/qt_bg.qm
/cmake-build-debug/translations/qt_ca.qm
/cmake-build-debug/translations/qt_cs.qm
/cmake-build-debug/translations/qt_da.qm
/cmake-build-debug/translations/qt_de.qm
/cmake-build-debug/translations/qt_en.qm
/cmake-build-debug/translations/qt_es.qm
/cmake-build-debug/translations/qt_fa.qm
/cmake-build-debug/translations/qt_fi.qm
/cmake-build-debug/translations/qt_fr.qm
/cmake-build-debug/translations/qt_gd.qm
/cmake-build-debug/translations/qt_he.qm
/cmake-build-debug/translations/qt_hr.qm
/cmake-build-debug/translations/qt_hu.qm
/cmake-build-debug/translations/qt_it.qm
/cmake-build-debug/translations/qt_ja.qm
/cmake-build-debug/translations/qt_ka.qm
/cmake-build-debug/translations/qt_ko.qm
/cmake-build-debug/translations/qt_lv.qm
/cmake-build-debug/translations/qt_nl.qm
/cmake-build-debug/translations/qt_nn.qm
/cmake-build-debug/translations/qt_pl.qm
/cmake-build-debug/translations/qt_pt_BR.qm
/cmake-build-debug/translations/qt_ru.qm
/cmake-build-debug/translations/qt_sk.qm
/cmake-build-debug/translations/qt_tr.qm
/cmake-build-debug/translations/qt_uk.qm
/cmake-build-debug/translations/qt_zh_CN.qm
/cmake-build-debug/translations/qt_zh_TW.qm
/cmake-build-debug/.qt/QtDeploySupport.cmake
/cmake-build-debug/.qt/QtDeployTargets.cmake
/.idea/QtSettings.xml
/cmake-build-debug/qtTest.exe
/.idea/qtTest.iml
/cmake-build-debug/generic/qtuiotouchplugin.dll
/cmake-build-debug/platforms/qwindows.dll
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-qtTest-Debug-c82511d2af374cf49bee.json
/cmake-build-debug/.cmake/api/v1/reply/target-qtTest_autogen-Debug-1f44eda6d964db403b19.json
/cmake-build-debug/.cmake/api/v1/reply/target-qtTest_autogen_timestamp_deps-Debug-6d373349f4a5963399d0.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/qtTest_autogen/timestamp
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-4b7d33bf9dbbf3b8dfa2.json
/cmake-build-debug/qtTest_autogen/include/ui_mainwindow.h
/.idea/vcs.xml
